<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ll_observed_seq</th>
      <th>BIC</th>
      <th>ICL</th>
      <th>state_seq_entropy</th>
      <th>free_parameters</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3L</th>
      <td>-50837.3</td>
      <td>-101876.0</td>
      <td>-126728.0</td>
      <td>12426.30</td>
      <td>19</td>
    </tr>
    <tr>
      <th>3B</th>
      <td>-50837.3</td>
      <td>-101876.0</td>
      <td>-126728.0</td>
      <td>12426.30</td>
      <td>19</td>
    </tr>
    <tr>
      <th>4L</th>
      <td>-50731.8</td>
      <td>-101749.0</td>
      <td>-116268.0</td>
      <td>7259.11</td>
      <td>27</td>
    </tr>
    <tr>
      <th>4B</th>
      <td>-50732.2</td>
      <td>-101718.0</td>
      <td>-116161.0</td>
      <td>7221.17</td>
      <td>24</td>
    </tr>
    <tr>
      <th>4BA</th>
      <td>-50744.6</td>
      <td>-101711.0</td>
      <td>-112578.0</td>
      <td>5433.26</td>
      <td>21</td>
    </tr>
    <tr>
      <th>5L</th>
      <td>-50643.3</td>
      <td>-101636.0</td>
      <td>-120146.0</td>
      <td>9254.94</td>
      <td>33</td>
    </tr>
    <tr>
      <th>5B</th>
      <td>-50643.3</td>
      <td>-101636.0</td>
      <td>-120146.0</td>
      <td>9254.94</td>
      <td>33</td>
    </tr>
    <tr>
      <th>6L</th>
      <td>-49567.1</td>
      <td>-99578.7</td>
      <td>-122744.0</td>
      <td>11582.70</td>
      <td>42</td>
    </tr>
    <tr>
      <th>6B</th>
      <td>-49567.1</td>
      <td>-99578.7</td>
      <td>-122744.0</td>
      <td>11582.70</td>
      <td>42</td>
    </tr>
    <tr>
      <th>Our5</th>
      <td>-49745.7</td>
      <td>-99798.3</td>
      <td>-121341.0</td>
      <td>10771.50</td>
      <td>29</td>
    </tr>
  </tbody>
</table>