table, th, td {
border: 1px solid black;
border-collapse: collapse;
}th, td {
padding: 5px;
text-align: left;}
div
{
float: left;
width: 100%;
text-align: center;
}
#transition_graph_wrap > div
{
width : 80%;
}
div#model_criterion
{
width: 20%;
}
#sojourn_emission_plot_wrap
{
width: 100%;
}
#sojourn_emission_plot_wrap > div
{
width: 49.0%;
padding-bottom: 0.5%;
margin: 0.5%;
}
#restauration_wrap > div
{
width: 49%;
padding-bottom: 0.5%;
margin: 0.5%;
}
div > img
{
max-height: 100%;
max-width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
}
